# Ignore local development artifacts
**/node_modules
**/dist
**/target

# Ignore git and IDE settings
.git
.idea
.vscode

# Ignore terraform local state
terraform/.terraform
terraform/*.tfstate*

# Ignore root-level docker files
deploy.sh
docker-compose.yml

# DO NOT ignore the frontend or saas-manager folders