# --- Java / Maven ---
backend/target/
backend/*.jar
backend/.mvn/

# --- React / Node ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# --- IDE & System ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# --- Secrets (Safety First!) ---
*.pem
secrets.txt

# Ignore all env files
*.env*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*

# Java/Maven
**/target/
.mvn/